.main {
    color: tomato;
    border: solid 3px gray;
    cursor: pointer;
    transition-duration: .5s;
}

.main:hover > .imgContainer,
.main:hover > .authorText {
    display: none;
}

.main:hover > .postDescription{
    display: flex;
}


.postDescription {
    display: none;
    background-color: var(--theme-main-bg-color);
    color: teal;
    padding: 15px ;
}

.imgContainer {
    width: 100%;
    transition-duration: 10000ms;
}

.imgContainer img {
    object-fit: cover;
    height: 180px;
    width: 100%;
    
}



.titleContainer {
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

.authorText {
    text-align: center;
}